:root{

    /*BANNER*/
    --banner-height:55vh;
    --banner-font-size:6rem;
    --banner-rad:40px;
    --banner-font:'Erica One', cursive;
}



/*--------------------------------------------------------------------------------------------------------
                                THE PARTY
---------------------------------------------------------------------------------------------------------- */

.party_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-content: center;
    grid-gap:2rem;
    padding: 2rem;
}

@media only screen and (max-width: 1000px){
    .party_grid {
       display: flex;
       flex-direction: column;
       align-items: center;
       grid-gap: 1rem;
    }
    .party_grid>img {
        border-radius: 50%;
        margin-top: 2rem;
        height: 20vh;
        width: 40vw;
        
    } 
    }

.party_grid>img:nth-of-type(1){
    border-top-left-radius:var(--banner-rad);
    height: 26vh;
    grid-row: 1;
    grid-column: 1;
    
}

.party_grid>img:nth-of-type(2) {
    height: 26vh;
    grid-row: 1;
    grid-column: 2;
}

.party_grid>img:nth-of-type(3){
    border-top-right-radius:var(--banner-rad);
    height: 26vh;
    grid-row: 1;
    grid-column: 3;
}

.party_grid>container>p:nth-child(2){
        text-align: justify;
        text-align: center;
        margin-bottom: 6rem;
    }
